.game-message-container {
  min-height: 130px;
  width: 100%;
  align-items: center;
  display: flex;
  background-color: blanchedalmond;
  border-radius: 32px;
  margin: 32px;
  padding: 24px;
}

.game-message-container:hover {
  cursor: pointer;
}

.game-bot-button {
  margin-right: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-image-container {
  background-image: url("../../assets/study.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.game-action-button-container {
  display: flex;
  flex-direction: row;
}

.game-property-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 32px;
  padding: 12px;
  background-color: blanchedalmond;
  height: 150px;
  width: 31%;
  overflow-y: scroll;
}

.game-property {
  margin: 12px;
}

.game-property-name {
  font-weight: bold;
}
